* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input {
    text-align: center;
    margin: 100px 0;
}

input[type="text"],
input[type="submit"] {
    height: 50px;
    width: 600px;
    background-color: #e7e7e7;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    font-size: 20px;
    text-align: center;
}

input[type="submit"] {
    height: 50px;
    width: 100px;
}

.display {
    text-align: center;
}